<div style="height: 4rem; background-color: '#666'; width: 100%; display: 'flex';">
    <div style="margin: 1rem;">
        <a style="color: white; text-decoration: none; font-size: 20px;" routerLink="/aaa">aaa</a>
    </div>
    <div style="margin: 1rem;">
        <a style="color: white; text-decoration: none; font-size: 20px;" routerLink="/bbb">bbb</a>
    </div>
    <div style="margin: 1rem;">
        <a style="color: white; text-decoration: none; font-size: 20px;" routerLink="/ccc">ccc</a>
    </div>
    <div style="margin: 1rem;">
        <a style="color: white; text-decoration: none; font-size: 20px;" routerLink="/dialog">dialog</a>
    </div>
</div>